@font-face {
    font-family: 'Raleway';
    src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}    

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* firefox*/
    -webkit-box-sizing: border-box; /*chrome*/
    font-family: 'Raleway', "sans-serif";
}

a {
    text-decoration: none;
    color : inherit;
}
body {
    max-width: 1440px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    padding-left: 20px;
    padding-right: 10px;
}

.contain_nav {
    display: flex;
}

.contain_nav a {
    padding: 50px 30px;
    border-top: 3px solid #fff;
}

.contain_nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}


#Logo {
    width: 100px;
    height: 50%;
}

.Title {
    padding-left: 40px;
    font-size: 11px;
}

.Title p {
    font-size: 14px;
    margin-bottom: 20px
}

.search h1 {
    margin-bottom: -5px;
    margin: 0;
}    


/* SEARCH */

form {
    display: flex;
}

.search i, .filter i {
    padding: 12px;
}

.loc {
    font-size: 115%;
    width: 50px;
    margin-left: 40px;
    background-color: #f2f2f2;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

button, .Submit_sup {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #0065FC;
    width: 130px ;
    border: #0065fc solid 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
}
input {
    width: 230px;
    padding-left: 10px;
    border: 1px solid #f2f2f2;
    border-right: none;
    outline: none;   
}

::placeholder {
    color: black;
    font-weight: bold;
}
.glass {
    display: none;
}

/* FILTRES */

.contain_filter {  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding-left: 20px;
}
.contain_filter h1 {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.contain_icon {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #dddada;
    border-radius: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.Pa {
    color:#0065FC;
    background-color: #DEEBFF; 
    margin-left: -6px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}

.Pa::before {
    display: flex;
    justify-content: center;
}

.contain_class {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.contain_class:hover {
    color: #0065FC;
    text-shadow: 2px 2px 2px #DEEBFF;
    cursor: pointer;
}
/* Info */

.info {
    display: flex;
    align-items: flex-start; 
    padding-left: 40px;
    margin-bottom: 20px;  
}
.info_icon {
    color: #0065FC;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info p {
    margin: 5px 0 0 10px;
}
/* CARDS-Hébergement */

.Cards {
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Cards h3 {
    font-size: 92%;
}
.Cards h4 {
    font-size: 120%;
}

.heb_marseille {
    width: 65%;
    margin: 0;
    height: 645px;
    padding: 45px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.heb_marseille h2, .heb_marseille h3 {
    width: 100%;
}

.heb_marseille article {
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 #dddada;
}
.heb_marseille a {
    height: 47%;
    width: 31%;
}

.heb_marseille article:hover {
    background-color: #f2f2f2;
}

.heb_marseille h2, h4 {
    width: 100%;
}
#Hébergements {
    padding-bottom: 10px;
    font-size: 150%;
    margin: 0;
}

.contain_heb {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.img_card {
    height: 60%;
    width: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.img_card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    height: 40%;
    padding: 10px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.description:hover {
    color: #0065FC;
}

h3 {
    margin: 0;
}

.night {
    font-size: 13px;
    width: 90%;
    margin: 0;
}

.star {
    margin: 0;
    font-size: 10px;
    width: 90%;
}

.bleu {
    color:#0065FC
}

.gris {
    color: grey;
}

/* CARDS-Populaires */

.most_popular {
    border: 0px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 20px;
    margin-left: 40px;
    height: 645px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: -10px;
}
.popular h2 {
    font-size: 140%;
    margin: 0;
}

.line {
    margin-left: 20px;
    font-size: 140%;
}

.Card_popular {
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Card_popular a {
    height: 28%;
    width: 82%;
}

.Card_popular article {
    height: 100%;
    padding: 4px;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 5px #dddada;
}

.Card_popular article:hover {
    background-color: #f2f2f2;
}
.card_img {
    width: 38%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    overflow: hidden;
}
.card_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description_bis {
    width: 55%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.description_bis .star {
    align-self: flex-end;
}
.description_bis:hover {
    color: #0065FC;
}

/* Activités-CARD */

.activity {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.activity a {
    width: 22.5%;     
    border-radius: 25px;
    box-shadow: 5px 10px 10px #f2f2f2;
}
.activity h2 {
    font-size: 25px;
    margin-bottom: 0;
}
.activity h3 {
    font-size: 100%;
    width: 100%;
    padding: 14px;
}

.card_activity {
    height: 500px ;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
}

.card_activity article{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card_activity div{
    margin: 0;
}

.vieux_port, .Calanques{
    height: 90%;
}

.Pomegues {
    height: 47%;
}

.frioul_ {
    height: 30%;
}

.Garde {
    height: 40%;
}

.longchamp_ {
    height: 42%;
}

.img_port, .fort_pomegues, .iles_frioul, .parc_calanques, .la_garde, .parc_longchamp {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.img_port, .parc_calanques {
    height: 87%;
}
.fort_pomegues {
    height: 76%;
}
.iles_frioul {
    height: 68%;
}
.la_garde {
    height: 72%;
}
.parc_longchamp {
    height: 74%;
}
.img_port img, .fort_pomegues img, .iles_frioul img, .parc_calanques img, .la_garde img, .parc_longchamp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img_port img {
    height: 100%;
} 

.iles_frioul img {
    height: 100%;
}
.fort_pomegues img {
    height: 100%;
    object-position: 0 -130px;
}

.parc_calanques img {
    height: 115%;
}
.la_garde img{
    height: 100%;
    object-position: 0 0;
}

.parc_longchamp img {
    height: 100%;
    object-position: 0 -10px;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    padding: 20px;
}

footer div p {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: -10px;
}

footer ul {
    padding: 0;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
}
footer li {
    padding: 0;
    margin: 10px 0;
}

.contain_footer {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px;
}

/* TABLET */
@media (max-width: 991px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }

    nav {
        width: 100%;
    }

    #Logo {
        width: 150px;
        height: 75%;
        padding-bottom: 20px;
        margin: auto;
    }
    .contain_nav {
        margin: auto;
        display:flex ;
        flex-basis: 100%;
        text-align: center; 
    }

    .contain_nav a {
        width: 50%;
        padding: 10px;
        border-bottom: 3px solid #f2f2f2; 
    }

    .contain_nav a:hover {
        border-top: 3px solid #fff;
        border-bottom: 3px solid #0065FC;
    }

    .search h1 {
        margin-bottom: -5px;
        margin-top: 10px;
    }
    .Title {
        padding-left: 20px;
    }
    .loc {
        margin-left: 20px;
    }
    .contain_filter {
        padding: 0;
    }
    .info {
        padding-left: 20px;
    }

    .Cards {
        padding: 0px 20px 0px 20px;
        margin: 0;
        flex-direction: column-reverse;
    }

    .most_popular {
        height: auto;
        width: 100%;
        padding: 20px 60px 50px 60px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }  
    .Card_popular {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    } 
    .Card_popular article {
        margin-top: 10px;
    }
    .Card_popular a {
        height: 140px;
        margin-top: 10px;
    }
    .card_img {
        height: 100%;
        width: 35%;
    }
    .popular h2 {
        font-size: 180%;
        margin: 10px;
    }
    .line {
        font-size: 200%;
    }
    .popular {
        width: 82%;
    }
    #Hébergements {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .heb_marseille {
        height: 580px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 0px;
    }
    .activity {
        padding: 20px;
    }
    .activity a {
        width: 30%;
    }
    .activity h2 {
        margin-bottom: 10px;
        font-size: 150%;
    }
    .activity h3 {
        font-size: 100%;
        padding: 15px;
    }
    .card_activity {
        margin: 10px 0 10px 0;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }     
    .vieux_port, .Pomegues, .frioul_, .Calanques, .Garde, .longchamp_ {
        height: 45%;
    }
    .img_port, .fort_pomegues, .iles_frioul, .parc_calanques, .la_garde, .parc_longchamp {
        height: 85%;
    }

    .iles_frioul img {
        height: 115%;
        object-position: 0 0px;
    }
    .contain_footer {
        margin: 10px;
    }    
}
  
/* MOBILE */
@media (max-width: 767px) {
    #Logo {
        width: 100px;
        height: 50%
    }
    .search, .filter {
        margin-right: 20px;
    }
    .search {
        margin-top: 20px;
    }
    .glass {
        display:contents
    }
    .Submit_sup {
        display: none;
    }
    button {
        position: relative;
        right: 10px;
        width: 50px ;
        border-radius: 15px;
    }
    input {
        width: 60%;
    }
    .contain_filter h1 {
        width: 100%;
    }
    .popular {
        width: 320px;
    }
    .Cards {
        flex-direction: column-reverse; 
        padding: 0; 
    }

    .Card_popular {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 10px 0px;
    }

    .Card_popular a {
        height: 140px;
        width: 320px;
        margin-top: 10px;
    }
    .card_img {
        height: 100%;
        width: 35%;
    }
    .Card_popular article {
        margin-top: 0;
    }
    .most_popular {
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0;
        margin-bottom: 20px;
        padding: 20px;
    }
    .popular h2 {
        font-size: 140%;
    }
    .line {
        font-size: 130%;
    }
    .heb_marseille {
        background-color: #ffffff;
        height:auto;
        flex-direction: column;
        padding: 0;
        width: 320px;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .heb_marseille article {
        height: 100%;
        width: 100%;
    }
    .heb_marseille .img_card {
        height: 60%;
    }
    .heb_marseille a {
        height: 200px;
        width: 320px;
        margin: 2% 0;
    }
    #Hébergements {
        font-size: 140%;
        margin-bottom: 0;
    }

    .contain_heb {
        flex-direction: column;
        display: flex;
    }
   
    .card_activity {
        flex-direction: column;
        height: auto;
        width: 330px;
    }

    .card_activity article {
        flex-direction: column;
        display: flex;
    }
    .activity {
        width: 320px;
        padding: 0;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .activity a {
        width: 320px;
        height: 200px;
        margin: 10px 0;
    }
    .activity h2 {
        font-size: 140%;
        margin: 0
    }
    .iles_frioul {
        height: 76%;
    }
    .la_garde {
        height: 77%;
    }
    .parc_longchamp {
        height: 76%;
    }

    footer {
        flex-direction: column;
        padding: 20px 20px 30px 20px;
        width: 100%;
    }
    footer ul {
        margin-bottom: -10px;
    }
    .contain_footer {
        width: 100%;
        margin-top: 10px;
    }
}    