@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* firefox*/
    -webkit-box-sizing: border-box; /*chrome*/
    font-family: 'Raleway', "sans-serif";
}

a {
    text-decoration: none;
    color : inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    padding-left: 30px;
    padding-right: 10px;
}

#logo {
    width: 100px;
    height: 50%;
}

.contain_nav {
    display: flex;
}

.contain_nav a {
    padding: 50px 30px;
    border-top: 3px solid #fff;
}

.contain_nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

/* SEARCH */

.search h1 {
    margin-bottom: -5px;
    margin: 0;
} 

.search i, .filter i {
    padding: 12px;
}

.title {
    padding-left: 55px;
    font-size: 11px;
}

.title p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

form {
    display: flex;
    height: 50px;
}

.loc {
    font-size: 115%;
    width: 50px;
    margin-left: 55px;
    background-color: #f2f2f2;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-location-dot::before {
    margin: 5px;
    font-size: 20px;
}

input {
    width: 230px;
    padding-left: 10px;
    border: 1px solid #f2f2f2;
    border-right: none;
    outline: none;   
}

::placeholder {
    color: black;
    font-weight: bold;
}

button, .submit_sup {
    font-weight: 600;
    font-size: 17px;
    color: white;
    background-color: #0065FC;
    width: 130px ;
    border: #0065fc solid 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
}

.glass {
    display: none;
}

/* FILTRES */

.contain_filter {  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 55px;
}

.contain_filter h1 {
    padding-right: 20px;
    font-size: 17px;
    font-weight: bold;
}

.contain_icon {
    margin-left: 10px;
    margin-right: 15px;
    border: 2px solid #dddada;
    border-radius: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.pa {
    color:#0065FC;
    background-color: #DEEBFF; 
    margin-left: -6px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}

.pa::before {
    display: flex;
    justify-content: center;
    margin: 4px;
    font-size: 20px;
}

.contain_class {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.contain_class:hover {
    color: #0065FC;
    text-shadow: 2px 2px 2px #DEEBFF;
    cursor: pointer;
}

/* INFO */

.info {
    display: flex;
    align-items: flex-start; 
    padding-left: 52px;
    margin-bottom: 20px;  
}

.info_icon {
    color: #0065FC;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #dddada;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    margin: 5px 0 0 10px;
}

/* CARDS-hébergements */

.cards {
    height: 33%;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.cards h3 {
    font-size: 92%;
}

.cards h4 {
    font-size: 120%;
    margin-bottom: 0;
}

.heb_marseille {
    width: 65%;
    margin: 0;
    height: 645px;
    padding: 45px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.heb_marseille h2, .heb_marseille h3 {
    width: 100%;
}

.heb_marseille h2, h4 {
    width: 100%;
}

.heb_marseille a {
    height: 47%;
    width: 31%;
}

.heb_marseille article {
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 10px 10px 0 #dddada;
}

.heb_marseille article:hover {
    background-color: #f2f2f2;
}

#hebergements {
    padding-bottom: 10px;
    font-size: 150%;
    margin: 0;
}

.contain_heb {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.img_card {
    height: 60%;
    width: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.img_card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    height: 40%;
    padding: 10px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.description:hover {
    color: #0065FC;
}

h3 {
    margin: 0;
}

.night {
    font-size: 13px;
    width: 90%;
    margin: 0;
}

.star {
    margin: 0;
    font-size: 10px;
    width: 90%;
}

.bleu {
    color:#0065FC
}

.gris {
    color: #dddada;
}

/* CARDS-les plus populaires */

.most_popular {
    border: 0px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 31%;
    border-radius: 20px;
    height: 645px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82%;
    margin-bottom: -10px;
}

.popular h2 {
    font-size: 150%;
    margin: 10px 10px 10px 0px;
}

.line {
    margin-left: 20px;
    font-size: 130%;
}

.card_popular {
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card_popular a {
    height: 28%;
    width: 82%;
}

.card_popular article {
    height: 100%;
    padding: 4px;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 10px 5px #dddada;
}

.card_popular article:hover {
    background-color: #f2f2f2;
}

.card_img {
    width: 38%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    overflow: hidden;
}

.card_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description_bis {
    width: 55%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.description_bis .star {
    align-self: flex-end;
}

.description_bis:hover {
    color: #0065FC;
}

/* CARDS-activités */

.activity {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.activity a {
    width: 22.5%;     
    border-radius: 25px;
    box-shadow: -1px 5px 10px 10px #f2f2f2;
}

.activity h2 {
    font-size: 150%;
    margin-bottom: 0;
    margin-top: 0;
}

.activity h3 {
    font-size: 100%;
    width: 100%;
    padding: 20px;
}

.card_activity {
    height: 500px ;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
}

.card_activity article {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card_activity div {
    margin: 0;
}

.vieux_port, .calanques {
    height: 90%;
}

.pomegues {
    height: 47%;
}

.frioul {
    height: 33%;
}

.garde {
    height: 40%;
}

.longchamp_ {
    height: 42%;
}

.img_port, .fort_pomegues, .iles_frioul, .parc_calanques, .la_garde, .parc_longchamp {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.img_port, .parc_calanques {
    height: 87%;
}

.fort_pomegues {
    height: 76%;
}

.iles_frioul {
    height: 68%;
}

.la_garde {
    height: 72%;
}

.parc_longchamp {
    height: 74%;
}

.img_port img, .fort_pomegues img, .iles_frioul img, .parc_calanques img, .la_garde img, .parc_longchamp img {
    width: 100%;
    object-fit: cover;
}

.img_port img {
    height: 110%;
} 

.iles_frioul img {
    height: 100%;
}

.fort_pomegues img {
    height: 100%;
    object-position: 0 -130px;
}

.parc_calanques img {
    height: 115%;
}

.la_garde img{
    height: 100%;
    object-position: 0 0;
}

.parc_longchamp img {
    height: 100%;
    object-position: 0 -10px;
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    padding: 50px;
}

footer div p {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 10px;
    margin-top: 0;
}

footer ul {
    padding: 0;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

footer li {
    padding: 0;
    margin: 10px 0;
}

.contain_footer {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    margin: 0px;
}